# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdm.toml
*.pdm.lock
*.env
.env
.venv/
venv/
ENV/
env/
*.egg-info/
dist/
build/
.python-version

# pytest
.pytest_cache/
.coverage
htmlcov/
.cache/

# VSCode
.vscode/
*.code-workspace

# Cobol compiled files
*.o
accountsystem

# Node.js
node_modules/
node-accounting-app/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Artifacts & reports
*.html
report.html

# GitHub Actions artifacts
coverage-html/
pytest-report/

# Misc
*.bak
*.swp
*~
